$activity-content-font-size: 0.9375rem;
$activity-feed-date-column-width: 10rem;

.activity-feed {
  &__item {
    position: relative;
    background: #f7f8fa;

    &:nth-child(even) {
      background: #f4f4f4;
    }
  }

  &__actions {
    margin-top: 1.2rem;

    .btn {
      font-size: 0.85rem;
      font-weight: 700;
    }
  }

  &__attachments {
    font-weight: 400;
    margin-top: 1rem;

    i {
      margin-top: 0.25rem;
      font-size: 1.25rem;
    }

    .attachments-txt {
      vertical-align: middle;
      display: table-cell;
      margin-top: 0.75rem;
    }
  }

  &__content {
    margin-top: 0.75rem;
    font-size: 0.9375rem;

    ::ng-deep {
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__no-results {
    position: relative;
    padding: 2rem;
    min-height: 10rem;
    border-radius: 0.4rem;
    background: #f7f8fa;
    text-align: center;

    &--msg {
      position: absolute;
      top: 4.2rem;
      left: 0;
      width: 100%;
      font-weight: 700;
      opacity: 0.5; 
    }
  }

  .title-container {
    @include flex-box();
    @include flex-direction(row);

    &__title {
      @include flex(1 1 auto);
      margin: 0;
      padding-right: 1rem;
      letter-spacing: -0.02rem;
      font-size: 1.3rem;
      font-weight: 600;
    }

    &__date {
      @include flex(0 0 auto);
    }
  }

  thead {
    .date-col {
      width: $activity-feed-date-column-width;
      text-align: right;
    }
  }
}

@media (max-width: 567px) {
  .activity-feed {
    .title-container {
      @include flex-box();
      @include flex-direction(column);
  
      &__title {
        @include flex(1 1 auto);
        margin: 0;
        padding-right: 0;
        font-size: 1.25rem;
        font-weight: 600;
        order: 2;
      }
  
      &__date {
        @include flex(0 0 auto);
        order: 1;
      }
    }

    &__content {
      margin-top: 0.75rem;

      pre {
        line-height: calc(0.875rem * 1.5);
        font-size: 0.875rem;

        p {
          line-height: calc(0.875rem * 1.5);
          font-size: 0.875rem !important;
        }
      }
    }
  }
}

.readmore {
  &__content {
    display: block;
    position: relative;
    margin: 0;
    overflow: hidden;
    font-size: 100%;
  }

  &__link {
    position: relative;
    padding: 0;
    font-weight: 600;
    font-size: 0.875rem;
    cursor: pointer;
  }
}