@import "~assets/styles/helpers/mixins.scss";

.attachments {
  @include clearfix();

  &__total {
    font-weight: 700;
  }

  &__list {
    max-width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &-item {
      padding: 0.15rem;
      overflow: hidden;

      a {
        display: inline-block;
        max-width: 100%;
        vertical-align: bottom;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      i {
        vertical-align: middle;
        margin-top: -3px;
      }
    }
  }
}

@media (min-width: 768px) {
  .attachments {
    &__list {
      &-item {
        float: left;
        
        &:first-child:nth-last-child(n + 2),
        &:first-child:nth-last-child(n + 2) ~ li {
          width: 33.3333%;
        }
      }
    }
  }
}