@import "~assets/styles/base.scss";

.card {
  border: none;

  &-header {
    padding: 1rem 1.25rem;
    color: $card-header-color;
    background: $card-header-bg;
    letter-spacing: -0.02rem;
    text-transform: uppercase;
    font-size: 0.9375rem;
    font-weight: 700;
  }

  &-body {
    padding: 1.25rem;
  }
}