@import "~assets/styles/base.scss";

.filter-bar {
    margin-bottom: 1.5rem;

    label {
        color: $filter-bar-label-color;
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: 700;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-control {
        &:focus {
            border-color: $fc-focus-border-color;
        }
    }

    .button-row {
        margin-top: 1rem;

        button {
            font-size: 0.85rem;
            
            i {
                vertical-align: middle;
            }
        }
    }
}

.filter-input-row {
    margin-bottom: 1rem;

    &.filters-basic {
        .form-group {
            margin-bottom: 0;

            .form-control {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .toggle-filter-btn {
            height: 2.75rem;
            padding: 0.5rem 0.5rem 0.5rem 0.75rem;
            border-radius: 0;
            border: 1px solid $fc-border-color;

            i {
                margin: 0;
            }

            .hide-filter-txt {
                display: none;
            }

            .btn-txt {
                display: none;
            }

            &.show-filters {
                .show-filter-txt {
                    display: none;
                }

                .hide-filter-txt {
                    display: inline-block;
                }
            }
        }
    }

    &.filters-advanced {
        position: relative;
        padding: 1rem 0.75rem 0.5rem 0.75rem;
        background: $filter-bar-bg;

        [class^="col-md"] {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }

        &:after {
            content: ' ';
            position: absolute;
            top: -2rem;
            right: 1.5rem;
            width: 2rem;
            height: 2rem;
            border-right-color: transparent;
            border-bottom-color: $filter-bar-bg;
            border-left-color: transparent;
            border-style: solid;
            border-width: 0 1rem 1rem 1rem;
        }
    }
}

@media (min-width: 760px) {
    .filter-input-row {
        position: relative;

        &.filters-basic {
            .toggle-filter-btn {
                .btn-txt {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }

        &.filters-advanced {
            @include flex-box();

            .form-group {
                .form-control {
                    position: relative;
                    border-radius: 0;
                }
            }
        }

        + .filter-input-row {
            margin-top: 2rem;
        }
    }
}