@import "~assets/styles/base.scss";

.form {
	&-control {
		min-height: 2.5rem;
		border-color: $fc-border-color;
    background-color: $fc-bg;
    font-size: 0.9375rem;

		&:focus {
			border-color: $fc-focus-border-color;
		}
	}

	&-check {
		input  {
			margin-top: -3px;
			margin-right: 0.25rem;
			vertical-align: middle;
		}
	}

	&-text {
		color: #333;
		font-size: 0.85rem;
	}

	&-group {
		label {
			letter-spacing: -0.01rem;

			em {
				color: #999;
				font-weight: 400;
			}
		}
	}
}

[class^="form-"] {
	+ .form-group,
	+ .form-check {
		margin-top: 1.5rem;
	 }
}

input {
	&[type="text"],
	&[type="email"] {
		@include placeholder {
			color: $fc-placeholder-color
		}
	}

	&[type="text"] {
		height: $fc-height;
		padding: 0.75rem;
	}

	&[type="email"] {
		height: $fc-height;
		padding: 0.75rem;
	}
}

select.form-control:not([size]):not([multiple]) {
	height: $fc-height;
	padding: 0 0.5rem;
}

textarea {
	@include placeholder {
		color: $fc-placeholder-color;
	}

	font-size: 0.9375rem;
	resize: vertical;
}