@import "~assets/styles/base.scss";

.nv-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    @include clearfix();
    line-height: 1rem;
    font-size: 0.85rem;

    + li {
      margin-top: 0.75rem;
    }
  }

  span {
    &.value {
      float: left;
      display: block;
      width: 60%;
    }

    &.name {
      float: left;
      display: block;
      padding-right: 0.75rem;
      font-weight: 600;
      width: 40%;
    }

    &.value {
      ul {
        margin: 0;
        padding: 0;
        overflow: visible;
        list-style-type: none;

        li {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        li:hover {
            overflow: visible;
        }
      }
    }

    &.name {
      margin-bottom: 0.25rem;
    }

    &.header {
      margin-bottom: 0.125rem;
      font-weight:600;
      display: block;
    }

    &.content {
      display: block;
    }
  }
}
