@import "~assets/styles/base.scss";

pagination-template {
  display: block;
  overflow: hidden;
}

.pagination {
  margin-bottom: 0;

  li {
    @include flex(1 1 auto);

    .page-link {
      margin: 0;
      display: block;
      padding: 0.5rem;
      height: 2.5rem;
      border: 1px solid transparent;
      background: $pgn-btn-bg;
      text-align: center;
      text-decoration: none;
      font-size: 0.9375rem;
      cursor: pointer;
      transition: all linear 0.2s;

      &:hover,
      &:focus {
        border-color: $pgn-btn-active-bg;
        background-color: rgba($pgn-btn-active-bg, 0.8);
        color: $pgn-btn-active-color;
      }
    }

    &.active {
      .page-link {
        border-color: $pgn-btn-active-bg;
        background-color: $pgn-btn-active-bg;
        color: $pgn-btn-active-color;

        &:hover,
        &:focus {
          border-color: $pgn-btn-active-bg;
          background-color: rgba($pgn-btn-active-bg, 0.8);
          color: $pgn-btn-active-color;
        }
      }
    }
    
    &:first-child {
      a {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }
    }

    &:last-child {
      a {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
    }
  }

  &__result-count {
    font-size: 1rem;
  }

  &--top {
    [class*="__result-count"] {
      display: block;
    }
  }

  &--bottom {
    @include clearfix();
  }
}

@media (min-width: 768px) {
  .pagination {
    margin-top: 0.5rem;
    max-width: 20rem;

    li {
      min-width: 2rem;
    }

    &--bottom {
      @include clearfix();
      margin-top: 1rem;
    }
  }
}