<div class="hero-banner hb-sm">
	<div class="container">
		<div class="container-inner">
			<div class="hb-txt">
				<h1>Find EA Projects in British Columbia</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</div>
</div>

<div class="container" id="anchor-point">
	<tmpl-projects-list2 id="anchor-list" x-projects="projects"></tmpl-projects-list2>
</div>

<!-- Leave for Map Dev -->
<!--
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Environmental Assessments</h2>
			</div>
			<tmpl-projects-map id="anchor-map" x-projects='projects'></tmpl-projects-map>
		</div>
	</div>
</div>
-->


