<div class="hero-banner hb-sm">
    <div class="container">
        <div class="container-inner">
            <div class="hb-txt">
                <h1>Connect with us...</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.</p>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container" id="anchor-point">
        <div class="row">
            <main class="col-lg-8">
                <section class="mb-0">
                    <h2>Help us build a better service...</h2>
                    <p>This website has been designed, built and implemented to improve the efficiency and transparency of the provincial environmental assessment process, and to provide citizens and stakeholders with more intuitive access to project data and information. If you are interested in providing us with feedback about your experience using this website, please feel free to send us your feedback.</p>
                    <form name="commentForm">
                        <div class="form-group">
                            <label>Your Name</label>
                            <input class="form-control" type="text" name="name" required
                                [(ngModel)]="model.name"
                                #name="ngModel"
                            />
                        </div>

                        <!-- Toggle Classes when email address is invalid -->
                        <!-- Both containing element and form-control need to reflect this -->
                        <div class="form-group" [ngClass]="{'has-danger': invalid}">
                            <label>Email Address</label>
                            <input class="form-control" [ngClass]="{'form-control-warning': invalid}" type="email" name="email" required [(ngModel)]="model.email"
                                #name="ngModel"/>
                            <div class="form-control-feedback" *ngIf="invalid">Enter a valid email address</div>
                        </div>
                        <div class="form-group">
                            <label>Your Feedback</label>
                            <textarea class="form-control" rows="6" name="comment" required [(ngModel)]="model.feedbackText"
                                #name="ngModel"></textarea>
                        </div>
                        <!-- Honeypot -->
                        <div class="form-group" style="display: none;">
                            <label>Leave this field blank</label>
                            <input type="text" name="subject">
                        </div>
                        <div class="form-btns">

                            <!-- Show Submitting State when submission is in progress -->
                            <!-- Disabled until all fields are validated -->
                            <button class="btn slide-r-btn submit-btn" (click)="sendEmail()">
                                <span>Submit Feedback</span> <i class="material-icons">send</i>
                            </button>
                            <div *ngFor="let alert of alerts">
                              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                            </div>
                            <!-- Submission in Progress
                            <!-- Open 'contact.success.html' modal to show success/error messages
                            <button class="btn submit-btn">
                                <span>Submitting...</span> <i class="material-icons">send</i>
                            </button>
                            -->
                        </div>
                    </form>
                </section>
            </main>
            <aside class="col-lg-4">
                <section class="card">
                    <h4 class="card-header">Contact the EAO</h4>
                    <div class="card-body">
                        <p class="mb-0">Please use the <a href="https://dir.gov.bc.ca/gtds.cgi?show=Branch&organizationCode=ENV&organizationalUnitCode=ENVIRON5" target="_blank">EAO B.C. Government Directory</a> listing to find contact information for specific Environmental Assessment Office staff.</p>
                    </div>
                </section>
                <section class="card">
                    <h4 class="card-header">Compliance Oversight</h4>
                    <div class="card-body">
                        <p class="mb-0">For questions about compliance, or if you have information about possible non-compliance with an environmental assessment certificate, please email <a href="">eao.compliance@gov.bc.ca</a>.</p>
                    </div>
                </section>
                <section class="card mb-0">
                    <h4 class="card-header">Report Natural Resource Violoations</h4>
                    <div class="card-body">
                        <p class="mb-0">Everyone has a role in protecting British Columbia’s natural resources. If you have seen misconduct involving wildlife, ecosystems, heritage sites or natural resources, you can report it <a href="http://www2.gov.bc.ca/gov/content/environment/natural-resource-stewardship/natural-resource-law-enforcement/report-natural-resource-violations" target="_blank">here</a>.</p>
                    </div>
                </section>
            </aside>
        </div>
    </div>
</section>