@import "~assets/styles/base.scss";
@import "~assets/styles/components/activity-feed.scss";

.map {
  &__thumbnail {
    margin: -1rem;
    margin-bottom: 1rem;

    ::ng-deep {
      .map-container {
        height: 200px;
      }
    }
  }
}

@media (min-width: 768px) {
  .map {
    &__thumbnail {
      ::ng-deep {
        .map-container {
          height: 200px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .nv-list {
    @include clearfix();
    margin: -0.5rem 0;

    > li {
      float: left;
      margin: 0.5rem 0;
      width: 100%;
    }

    span {
      float: none;
      width: 100%;

      &.name {
        margin-bottom: 0;
        width: 10rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .nv-list {
    span {
      float: left;
      width: 50%;
    }
  }
}

.project-news-feed {
  .title-container {
    &__title {
      letter-spacing: -0.02rem;
      font-size: 1.3rem;
    }
  }
}

.map-section {
  margin-bottom: 0;
  display: table;
  width: 100%;
  overflow: hidden;
  background: #f4f4f4;

  a {
    display: block;
    padding: 0.2rem;
    height: 150px;

    img {
      width: 100%;
    }
  }

  .map {
    &__thumbnail {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}

@media (max-width: 567px) {
  .nav {
    margin-bottom: 1.75rem;

    .nav-item {
      width: 50%;
    }

    .nav-link {
      font-size: 0.6rem;
    }
  }
}

@media (min-width: 768px) {
  .nav {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }
}

.certificate-status {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
}