@import "~assets/styles/base.scss";

.activities-section {
    position: relative;

    .activities-table {
        margin-top: 2rem;
        margin-bottom: 2rem;

        td {
            position: relative;
            padding: 2rem 1.5rem !important;
        }

        .date-col {
            width: 10rem;
            text-align: right;
        }

        .activity-btns {
            .btn {
                margin-right: 0.25rem;
                font-size: 0.85rem;
            }
        }

        .activity-date {
            position: absolute;
            top: 0;
            right: 0;
            padding: 2rem 1.5rem;
        }
    }

    h3 {
        margin-bottom: 1.25rem;
        text-overflow: ellipsis;
        letter-spacing: -0.02rem;
        font-size: 1.75rem;
        font-weight: 400;

        sup {
            display: block;
            top: 0;
            margin-bottom: 0.4rem;
            line-height: 1.25rem;
            font-size: 1.25rem;
        }
    }

    p {
        overflow: hidden;
        //max-height: 4.5rem;
        line-height: 1.5rem;
        font-size: 1rem;
    }
}

@media (min-width: 760px) {
    .activities-section {
        h3 {
            font-size: 2rem;
        }
    }
}