@import "~assets/styles/base.scss";

.activities-table {
    h3 {
        margin-bottom: 0.4rem;
        text-overflow: ellipsis;
        font-size: 1.5rem;
        font-weight: 400;

        sup {
            display: block;
            top: 0;
            margin-bottom: 0.4rem;
            line-height: 1rem;
            font-size: 1rem;
            font-weight: 400;
        }
    }

    p {
        margin-bottom: 0;
        overflow: hidden;
        line-height: 1.4rem;
        font-size: 0.9375rem;
    }

    .activity-date {
        display: block;
        margin-bottom: 1.25rem;
        opacity: 0.5;
    }
}

.activities-section {
    position: relative;

    .activities-table {
        margin-top: 2rem;
        margin-bottom: 2rem;

        td {
            position: relative;
            padding: 1.75rem !important;
        }

        .date-col {
            width: 10rem;
            text-align: right;
        }

        .activity-btns {
            .btn {
                margin-top: 1.5rem;
                margin-right: 0.25rem;
                font-size: 0.85rem;
            }
        }
    }
}

@media (min-width: 760px) {
    .activities-table {
        h3 {
            margin-bottom: 1.5rem;
            text-overflow: ellipsis;
            font-size: 1.75rem;
            font-weight: 400;

            sup {
                display: block;
                top: 0;
                margin-bottom: 0.4rem;
                line-height: 1.25rem;
                font-size: 1.25rem;
                font-weight: 300;
            }
        }

        p {
            overflow: hidden;
            line-height: 1.5rem;
            font-size: 0.9375rem;
        }

        .activity-date {
            position: absolute;
            top: 0;
            right: 0;
            padding: 1.5rem;
        }
    }
}