@import "~assets/styles/base.scss";
@import "~assets/styles/components/activity-feed.scss";

.news-feed {
  &__project-name {
    margin-bottom: 0.25rem;
    display: block;
    font-size: 1rem;
    font-weight: 600;
  }
}

@media (max-width: 567px) {
  .news-feed {
    &__project-name {
      margin-bottom: 0.5rem;
    }
  }
}

@media(min-width: 768px) {
  .news-feed {
    &__headline {
      font-size: 1.5rem;
    }
  }
}