<div class="spinner-container fixed" *ngIf="!commentPeriod">
  <div class="spinner-new rotating"></div>
</div>

<ng-container *ngIf="commentPeriod">
  <div class="hero-banner hb-sm">
    <div class="container">
      <div class="container-inner">
        <div class="hb-txt">
          <span class="hb-txt__project-title">{{ commentPeriod.project.name }}</span>
          <h1>Public Comment and Open House on Application<span class="badge badge-primary badge-status">{{ commentPeriod.status }}</span></h1>
          <p>The public is invited to obtain information about and comment on the {{ commentPeriod.informationLabel }} for the proposed {{ commentPeriod.project.name }}.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="anchor-point">
    <div class="row">
      <main class="col-lg-8">
        <section>
          <h2>About this comment period...</h2>
          <p>A 30 day public comment period on the <em>{{ commentPeriod.informationLabel }}</em> will start on {{ commentPeriod.dateStarted | date: 'longDate' }} and end on {{ commentPeriod.dateCompleted | date: 'longDate' }}. All written comments received by online form, fax, or mail during this time period will be considered.</p>
          <div class="comments__btns">
            <button class="btn btn-primary slide-l-btn" (click)="triggerSubmitComment()"
              data-toggle="modal"
              data-target="#submitCommentModal"
              data-backdrop="static"
              *ngIf="commentPeriod.status == 'Open'">
              <i class="material-icons">&#xE0B9;</i>
              <span>Submit a Comment</span>
            </button>
            <button class="btn btn-primary slide-l-btn"
              data-toggle="modal"
              data-target="#relatedDocumentsModal"
              data-backdrop="static"
              *ngIf="commentPeriod.relatedDocuments.length > 1">
              <i class="material-icons">&#xE89E;</i>
              <span>View Related Documents</span>
            </button>
          </div>
        </section>
        <section>
          <div class="comments__table bg-muted">
            <div class="spinner-container" *ngIf="loading">
              <div class="spinner-new rotating"></div>
            </div>
            <h3 class="mb-1">Comments ({{commentPeriod.comments.length}})</h3>
            <div class="comment-feed bg-muted">
              <table class="activity-feed table mb-0" id="tableTop" *ngIf="!loading">
                <thead>
                  <tr>
                    <th class="sortable" (click)="sort('author')">Posted By
                      <i class="sort" [ngClass]="{'sort-asc': (column == 'author' && isDesc), 'sort-desc': (column == 'author' && !isDesc) }" aria-hidden="true"></i>
                    </th>
                    <th class="sortable date-col" (click)="sort('dateAdded')">Date
                      <i class="sort" [ngClass]="{'sort-asc': (column == 'dateAdded' && isDesc), 'sort-desc': (column == 'dateAdded' && !isDesc) }" aria-hidden="true"></i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="activity-feed__item" *ngFor="let item of commentPeriod.comments | orderBy: {property: column, direction: direction} | paginate: config">
                    <td colspan="2">
                      <div class="title-container">
                        <h3 class="title-container__title">{{item.author}}</h3>
                        <span class="title-container__date">{{item.dateAdded | date: 'mediumDate'}} @ {{item.dateAdded | date: 'shortTime'}}</span>
                      </div>
                      <div class="activity-feed__content readmore">
                        <pre class="readmore__content"
                          *ngIf="item.readmore || item.comment.length <= 300"
                          [innerHTML]="item.comment">
                        </pre>
                        <pre class="readmore__content"
                          *ngIf="!item.readmore && item.comment.length > 300"
                          [innerHTML]="(item.comment | slice:0:300) + '...'">
                        </pre>
                        <button class="btn btn-link readmore__link" title="{{item.readmore ? 'Show Less' : 'Show More'}}" *ngIf="item.comment.length > 300" (click)="readmore(item)">
                          [{{item.readmore ? 'Show Less' : 'Show More'}}]
                        </button>
                      </div>
                      <div class="activity-feed__attachments" *ngIf="item.documents.length !== 0">
                        <div class="attachments">
                          <div>
                            <span class="attachments__total">{{ item.documents.length }} Attachment(s)</span>
                          </div>
                          <ul class="attachments__list">
                            <li class="attachments__list-item" *ngFor="let doc of item.documents">
                              <a href="{{doc.link}}" target="_blank">
                                <i class="material-icons md-16">&#xE2BC;</i>
                                <span>{{ doc.displayName }}</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="comment-feed__badge-container" *ngIf="item.vcs.length !== 0">
                        <div class="badge badge-light" *ngFor="let vc of item.vcs">
                          {{vc.name}}
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-template #p="paginationApi" *ngIf="commentPeriod.comments.length > 25"
                [id]="config.id"
                (pageChange)="config.currentPage = $event">
                <ul class="pagination">
                  <li class="page-item" *ngIf="!p.isFirstPage()">
                    <a class="page-link" (click)="p.previous();" appScroll> < </a>
                  </li>
                  <li class="page-item" *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
                    <a class="page-link" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                      <span>{{ page.label }}</span>
                    </a>
                    <div *ngIf="p.getCurrent() === page.value">
                      <span class="page-link">{{ page.label }}</span>
                    </div>
                  </li>
                  <li class="page-item" *ngIf="!p.isLastPage()">
                    <a class="page-link" (click)="p.next();" appScroll> > </a>
                  </li>
                </ul>
              </pagination-template>
            </div>
          </div>
        </section>        

      </main>
      <aside class="col-lg-4">
        <section class="card">
          <h4 class="card-header">Comment Period Details</h4>
          <div class="card-body">
          <ul class="nv-list">
            <li>
              <span class="name">Status</span>
              <span class="value"><span class="badge badge-primary badge-status">{{ commentPeriod.status }}</span></span>
            </li>
            <li>
              <span class="name">Start Date</span>
              <span class="value">{{commentPeriod.dateStarted | date: 'longDate'}}</span>
            </li>
            <li>
              <span class="name">End Date</span>
              <span class="value">{{commentPeriod.dateCompleted | date: 'longDate'}}</span>
            </li>
          </ul>
          </div>
        </section>
        <section class="card open-house-list" *ngIf="commentPeriod.openHouses.length !== 0">
          <h4 class="card-header">Open House Dates</h4>
          <div class="card-body">
            <ul class="open-house-list">
              <li *ngFor="let item of commentPeriod.openHouses">
                <span class="open-house-list__date">{{ item.eventDate | date: 'longDate' }}</span>
                <span class="open-house-list__desc">{{ item.description }}</span>
              </li>
            </ul>
          </div>
        </section>
      </aside>
    </div>
  </div>

  <!-- SUBMIT A COMMENT -->
  <div class="modal fade" id="submitCommentModal" tabindex="-1" role="dialog" aria-labelledby="submitCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg comment-period-modal">
      <div class="modal-content">
        <app-pcp-info-modal></app-pcp-info-modal>
        <app-submit-comment-modal></app-submit-comment-modal>
        <app-submit-comment-progress-modal></app-submit-comment-progress-modal>
      </div>
    </div>
  </div>

  <!-- RELATED DOCUMENTS -->
  <div class="modal fade" id="relatedDocumentsModal" tabindex="-1" role="dialog" aria-labelledby="relatedDocumentsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg submit-comment-modal">
      <div class="modal-content">
        <div class="modal-header pb-0">
          <h3 class="modal-title comment-modal-title">Related Documents <span class="comment-modal-title__large">{{ commentPeriod.informationLabel }}</span></h3>
        </div>
        <div class="modal-body">
          <ul class="file__list anchor-list">
            <li class="file__list-item" *ngFor="let relDoc of commentPeriod.relatedDocuments">
              <a href="{{ hostname + '/api/document/' + relDoc._id + '/fetch' }}" target="_blank">
                <span class="file__list-item-icon">
                  <i class="material-icons md-18">&#xE24D;</i>
                </span>
                <span class="file__list-item-name">
                  <span>{{ relDoc.displayName }}</span>
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="modal-footer pt-1">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</ng-container>