@import "~assets/styles/base.scss";
@import "~assets/styles/components/activity-feed.scss";
@import "~assets/styles/components/attachments.scss";

.comment-feed {
  .title-container {
    &__title {
      letter-spacing: -0.02rem;
      font-size: 1.3rem;
    }
  }

  &__badge-container {
    margin-top: 1rem;

    .badge {
      margin-right: 0.2rem;
      margin-bottom: 0.2rem;
      letter-spacing: -0.01rem;
      font-size: 0.75rem;
      font-weight: 600;
    }
  }
}

.open-house-list {
  li {
    + li {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid #ddd;
    }
  }

  .open-house-list__date {
    margin-bottom: 0.25rem;
    display: block;
    font-weight: 700;
  }
}