@import "~assets/styles/base.scss";
@import "~assets/styles/components/activity-feed.scss";
@import "~assets/styles/components/attachments.scss";
@import "~assets/styles/components/file-list.scss";
@import "~assets/styles/components/file-upload.scss";
@import "~assets/styles/components/modals.scss";

// Comment Hero Banner
.hero-banner {
  .ea-project-title {
    font-size: 1.75rem;
    font-weight: 300;
  }

  .ea-pcp-title {
    display: block;
  }

  .ea-status-badge {
    margin-top: 0.75rem;
    padding-bottom: 0.25rem;
    vertical-align: top;
  }
}

@media (min-width: 768px) {
  .hero-banner {
    .ea-pcp-title {
      display: inline;
    }
  
    .ea-status-badge {
      margin-top: 0.5rem;
      margin-left: 0.3rem;
    }
  }
}

.comments {
  &__btns {
    margin-bottom: 2rem;
    @include flex-box();
    @include flex-direction(column);
    margin: -0.25rem;
  
    .btn {
      @include flex(1 1 50%);
      margin: 0.25rem;
      text-transform: uppercase;
      font-size: 0.875rem;
      font-weight: 700;
    }
  }
}

@media (min-width: 480px) {
  .comments {
    &__btns {
      display: block;

      .btn {
        display: inline-block;
      }
    }
  }
}

.badge-container {
  margin-top: 1rem;
  margin-right: -0.2rem;
  margin-left: -0.2rem;

  .badge {
    margin: 0.2rem;
    font-size: 0.75rem;
    font-weight: 600;
  }
}

.open-house-list {
  margin: 0;
  padding: 0;
  line-height: 1.25rem;
  font-size: 0.875rem;
  list-style-type: none;

  li {
    + li {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid #ddd;
    }
  }

  .open-house-list__date {
    margin-bottom: 0.25rem;
    display: block;
    font-weight: 700;
  }
}

// CUSTOM MODALS
.comment-modal-title {
  line-height: 1.15rem;
  font-size: 1.15rem;
  font-weight: 600;

  &__large {
    margin-top: 0.25rem;
    display: block;
    color: #000;
    line-height: 1.65rem;
    font-size: 1.65rem;
  }
}

.hidden {
  display: none;
}

// SUBMIT COMMENT MODALS
::ng-deep {
  .hidden {
    display: none;
  }

  .comment-modal-title {
    line-height: 1.15rem;
    font-size: 1.15rem;
    font-weight: 600;
  
    &__large {
      margin-top: 0.25rem;
      display: block;
      color: #000;
      line-height: 1.65rem;
      font-size: 1.65rem;
    }
  }

  .modal-footer {
    .btn {
      min-width: 6rem;
    }
  }
}

@media (min-width: 768px) {
  .comment-modal-title {
    line-height: 1.25rem;
    font-size: 1.25rem;

    &__large {
      line-height: 2rem;
      font-size: 1.75rem;
    }
  }

  ::ng-deep {
    .comment-modal-title {
      line-height: 1.25rem;
      font-size: 1.25rem;
  
      &__large {
        line-height: 2rem;
      font-size: 1.75rem;
      }
    }
  }
}

// PROPONENT RESPONSE PROTOTYPE
.response {
  &__info {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding: 1rem;
    border-left: 3px solid #0275d8;
    background: #fff;
    font-size: 0.9375rem;
  }

  &__org {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  &__toggle {
    margin-top: 0.75rem;
    padding: 0.1rem;
    border-radius: 0;
    font-size: 0.875rem;
    font-weight: 700;
  }
}