@import "~assets/styles/base.scss";
@import "~assets/styles/components/activity-feed.scss";

.comment-feed {
  .title-container {
    &__title {
      letter-spacing: -0.02rem;
      font-size: 1.3rem;
    }
  }

  &__badge-container {
    margin-top: 1rem;

    .badge {
      margin-right: 0.2rem;
      margin-bottom: 0.2rem;
      font-size: 0.775rem;
      font-weight: 700;
    }
  }
}

.nv-list {
  span {
    &.name {
      width: 40%;
    }
    &.value {
      width: 60%;
    }
  }
}

@media (max-width: 567px) {
  .nav {
    margin-bottom: 1.75rem;

    .nav-item {
      width: 50%;
    }

    .nav-link {
      font-size: 0.6rem;
    }
  }
}

@media (min-width: 768px) {
  .nav {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }
}