@import "~assets/styles/base.scss";

.bg-dark {
    color: $bg-dark-color;
    background-color: $bg-dark;
}

.bg-dark-link {
    color: $bg-dark-link-color;

    &:hover {
        color: $bg-dark-link-color;
    }
}

.badge {
    padding-bottom: 0.15rem;
    letter-spacing: 0.02rem;
    font-size: 0.85rem;
    font-weight: 600;

    &-status {
        font-weight: 600;
    }

    &-light {
        background: #ddd;
        color: inherit;
    }
}

.capitalize {
    text-transform: capitalize;
}