@import "~assets/styles/base.scss";

.bg-dark {
    color: $bg-dark-color;
    background-color: $bg-dark;
}

.bg-dark-link {
    color: $bg-dark-link-color;

    &:hover {
        color: $bg-dark-link-color;
    }
}

.badge {
    padding-bottom: 0.3rem;
    font-size: 0.8375rem;
    font-weight: 600;

    &-status {
        text-transform: uppercase;
        font-weight: 700;
    }
}
