// Fix the type flashing bug that occurs when page loads
.wf-loading {
  display: none;
}

body {
  font-family: "myriad-pro";
  font-weight: 400;
}

button, input, pre, select, textarea {
  font-family: "myriad-pro";
}

h1, h2, h3, h4 {
  font-weight: 400;
}

h2, h3, h4 {
  margin-bottom: 1rem;
  letter-spacing: -0.04rem;
}

h1 {
  letter-spacing: -0.01rem;

  sup {
    top: 0;
    display: block;
    letter-spacing: 0;
    line-height: normal;
    font-size: 1.4rem;
  }
}

h3 {
  span {
    display: block;
  }
}

pre {
  white-space: pre-wrap;
  display: inline;

  p {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 567px) {
  html {
    font-size: 14px;
  }

  h1 {
    line-height: 1;
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }
}