// Fix the type flashing bug that occurs when page loads
.wf-loading {
  display: none;
}
  
@media (max-width: 567px) {
  html {
    font-size: 14px;
  }
}
  
body {
    font-family: "myriad-pro";
    font-weight: 400;
}
  
button, input, pre, select, textarea {
  font-family: "myriad-pro";
}
  
h1, h2, h3, h4 {
  font-weight: 400;
}
  
h2, h3, h4 {
  margin-bottom: 1rem;
  letter-spacing: -0.03rem;
}
  
h1 {
  letter-spacing: -0.03rem;

  sup {
    top: 0;
    display: block;
    letter-spacing: 0;
    line-height: normal;
    font-size: 1.4rem;
  }
}
  
h3 {
  span {
    display: block;
  }
}

pre {
  white-space: pre-wrap;
  display: inline;
}