@import "~assets/styles/base.scss";

@media (max-width: 760px) {
    .project-table {
        thead {
            display: none;
        }

        tr, td {
            display: block;
        }

        td {
            padding: 1rem;
            border-top: none;

            &.name {
                padding-bottom: 0.75rem;
                font-size: 1.25rem;
                font-weight: 600;
            }

            &.proj-col {
                position: relative;
                margin: 0 1rem;
                padding: 0.25rem 0;

                &:before {
                    display: table-cell;
                    width: 8rem;
                }

                &:last-child {
                    padding-bottom: 1.25rem;
                }

                span {
                    display: table-cell;
                }

                &.proponent:before {
                    content: 'Proponent:';
                }

                &.status:before {
                    content: 'Status:';
                }

                &.type:before {
                    content: 'Type:';
                }

                &.comment-period:before {
                    content: 'Comment Period:';
                }
            }
        }
    }
}