// Base
@import "~assets/styles/base.scss";

:host {
  @include flex-box;
  @include flex-direction(column);
  @include fill-parent(fixed);
  margin-top: 59px;
  z-index: 999;
}

@media (min-width: 1024px) {
  :host {
    margin-top: 71px;
  }
}

.map-container {
  @include flex(1 1 auto);
  position: relative;

  esri-map {
    @include fill-parent(absolute);
  }
}

@media (min-width: 1024px) {
  .map-container {
    &:before {
      content: ' ';
      position: absolute;
      top: -71px;
      left: 0;
      width: 100%;
      height: 71px;
      border-bottom: 4px solid $gold;
      background: $header-bg;
    }
  }
}
