
<div class="filter-bar">
	<div class="label-row">
		<label>Project Name</label>
		<label>Type</label>
		<label>Comment Period</label>
	</div>
	<div class="input-row">
		<input class="form-control" placeholder="Enter a Project Name" type="text" ng-model="projectList.tableParams.filter()['name']"/>
		<select class="form-control" ng-model="projectList.tableParams.filter()['type']">
			<option value="" selected>All</option>
			<option>Energy-Electricity</option>
			<option>Derp Project</option>
		</select>
		<select class="form-control" ng-model="projectList.tableParams.filter()['openCommentPeriod']">
			<option value="" selected>All</option>
			<option value="Open">Open</option>
			<option value="Pending">Pending</option>
		</select>
	</div>
	<!--
	<button class="btn btn-default"
		ng-disabled="!projectList.tableParams.hasFilter()"
		ng-click="projectList.tableParams.filter({})">Clear filters
	</button>
	-->
</div>

<table class="epic-table" x-show-filter="true" ng-table="projectList.tableParams">
	<tr ng-repeat="o in $data" ui-sref="p.detail({projectid: o.code})">
		<td header-class="'name-col'" 
			data-title="'Name'" 
			filter="{'name':'text'}" 
			sortable="'name'"><a ui-sref="p.detail({projectid: o.code})">{{o.name}}</a></td>
		<td header-class="'type-col'" 
			data-title="'Type'" 
			filter="{type:'select'}" 
			filter-data="projectList.typeArray" 
			sortable="'type'">{{o.type}}</td>
		<td header-class="'region-col'" 
			data-title="'Region'" 
			filter="{region:'select'}" 
			filter-data="projectList.regionArray" 
			sortable="'region'">{{o.region | regionName}}</td>
		<td header-class="'decision-col'"
			ng-if="environment === 'EAO'"
			data-title="'Decision'"
			filter="{eacDecision:'select'}"
			filter-data="projectList.eacDecisionArray"
			sortable="'eacDecision'">{{o.eacDecision}}</td>
		<!--
		<td header-class="'phase-col'"
			data-title="'Phase'"
			filter="{'currentPhase.name':'select'}"
			filter-data="projectList.phaseArray"
			sortable="'currentPhase.name'">{{o.currentPhase.name}}</td>
		-->
		<!--
		<td header-class="'comment-col'" 
			data-title="'Comment Period'" 
			filter="{openCommentPeriod:'select'}" 
			filter-data="projectList.openPCPArray" 
			sortable="'openCommentPeriod'">{{o.openCommentPeriod}}</td>
		-->
	</tr>
	<tr class="no-records" ng-show="!$data || !$data.length">
		<td colspan="4">No results match your search.</td>
	</tr>
</table>
