
.projects-list-section {
    position: relative;

    .filter-bar {
        margin-top: 2rem;
    }

    .projects-table {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.projects-table {
    .name-col {
        a {
            font-weight: 600;
        }
    }
}