<div class="submit-comment-modal hidden" id="step2">
  <div class="modal-header pb-0">
    <h3 class="modal-title comment-modal-title" id="submitCommentModalLabel">Submit a Comment: <span class="comment-modal-title__large">Comment Details</span></h3>
    <button class="btn btn-default" (click)="hideAllSteps()" data-dismiss="modal" aria-label="Close">
      <i class="material-icons">&#xE5CD;</i>
    </button>
  </div>

  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>

  <form #f="ngForm" [hidden]="loading" (ngSubmit)="onSubmit(f.value)" id="submitCommentForm" novalidate>
    <div class="modal-body submit-comment-form">
      <div class="alert alert-danger" *ngIf="error">
        <span class="alert__icon">
          <i class="material-icons">
              error
          </i>
        </span>
        <span class="alert__msg">An error occurred while attempting to submit your comment. Please try again later.</span>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="author">Your Name <em>(Required)</em></label>
        <input class="form-control" id="author" name="author" (focus)="removeError($event)" [(ngModel)]="comment.author" #author="ngModel" required>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="location">Location <em>(Required)</em></label>
        <input class="form-control" id="location" name="location" placeholder="EG: City, Town, etc." (focus)="removeError($event)" [(ngModel)]="comment.location" #location="ngModel">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="comment">Your Comment <em>(Required)</em></label>
        <textarea class="form-control" id="comment" name="comment" rows="3" (focus)="removeError($event)" [(ngModel)]="comment.comment" #comment="ngModel"></textarea>
      </div>
      <div class="form-group">
        <label class="mb-0 form-control-label" for="file">Upload Attachments</label>
        <span class="form-text mt-0">Total uploads Cannot exceed 5MB. Accepted file types: pdf, png, gif, jpg, jpeg, bmp</span>
        <ul class="file__list mt-3" *ngIf="files.length > 0">
          <li class="file__list-item" *ngFor="let file of files">
            <span class="file__list-item-icon">
              <i class="material-icons">&#xE2BC;</i>
            </span>
            <span class="file__list-item-name">
              {{file.name}}
            </span>
            <span class="file__list-item-size">
              {{file.size | filesize}}
            </span>
            <span class="file__list-item-action">
              <button class="btn btn-default" type="button" (click)="removeDocument($event)">
                <i class="material-icons md-18">&#xE5CD;</i>
              </button>
            </span>
          </li>
        </ul>
        <div class="file-upload mt-3">
          <input type="file" class="form-control" id="file" name="file" size="5000000" accept=".pdf, .png, .gif, .jpg., .jpeg, .bmp" (change)="onFileChange($event, f.value)" multiple [(ngModel)]="comment.documents" #documents="ngModel">
          <div class="file-upload__target">
            <span class="file-upload__prompt">
              <i class="file-upload__prompt-icon material-icons">&#xE2C6;</i>
              <span class="file-upload__prompt-msg"><span class="file-upload__prompt-drag">Drag files here or</span> Browse files</span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="visible">
          <input class="form-check-input" type="checkbox" value="" id="visible" name="visible" [(ngModel)]="comment.visible" #visible="ngModel">Make my Name visible to public.
        </label>
        <span class="form-text">All comments are submitted anonymously by default, unless you specify that you would like your name to be visible.</span>
      </div>
    </div>
    <div class="modal-footer pt-1">
      <button type="button" (click)="hideAllSteps()" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
