@import "~assets/styles/base.scss";

.home-project-activities {
    section {
        min-height: 20rem;
    }

    .spinner-container {
        &.inverted {
            background: rgba($bg-dark, 0.8);
        }
    }
}

.news-block {
    margin-bottom: 2rem;
    padding: 1.75rem;
    color: #fff;
    background-image: url("~assets/images/hero-banner-placeholder.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 100%;

    h3 {
        margin-bottom: 0.2rem;
        text-overflow: ellipsis;
        font-size: 1.5rem;
        font-weight: 400;

        sup {
            display: block;
            top: 0;
            margin-bottom: 0.4rem;
            line-height: 1rem;
            font-size: 1rem;
            font-weight: 300;
        }
    }

    p {
        margin-bottom: 2rem;
        overflow: hidden;
        line-height: 1.5rem;
        font-size: 0.9375rem;
    }

    .news-date {
        display: block;
        margin-bottom: 1.25rem;
        opacity: 0.5;
    }
}

@media (min-width: 760px) {
    .news-block {
        background-size: 100% auto;

        h3 {
            margin-bottom: 0.2rem;
            text-overflow: ellipsis;
            font-size: 1.75rem;
            font-weight: 400;

            sup {
                display: block;
                top: 0;
                margin-bottom: 0.4rem;
                line-height: 1.25rem;
                font-size: 1.25rem;
                font-weight: 300;
            }
        }

        p {
            margin-bottom: 2rem;
            overflow: hidden;
            line-height: 1.5rem;
            font-size: 0.9375rem;
        }

        .news-date {
            display: block;
            margin-bottom: 1.25rem;
            opacity: 0.5;
        }

        .news-block-btns {
            .btn {
                padding: 0.5rem;
                border-width: 1px;

                + .btn {
                    margin-left: 0.25rem;
                }
            }
        }
    }
}

.news-block-more {
    a {
        font-weight: 600;
    }
}