<div class="modal-content hidden" id="step3">
  <div class="modal-header">
    <h3 class="modal-title comment-modal-title" id="submitCommentModalLabel">Submit a Comment: <span class="comment-modal-title__large">Your comment has been received.</span></h3>
  </div>
  <div class="modal-body">
    <h4>What happens next?</h4>
    <p class="mb-0">EAO reviews and publishes all comments received within seven days of receipt, except comments that EAO deems to be inappropriate for publication. Comments may be considered inappropriate for publication if - in EAO’s view - they are profane, abusive or do not relate to the matter being consulted upon as stated in our Public Comment Policy [PDF].</p>
  </div>
  <div class="modal-footer pt-1">
    <button type="button" data-dismiss="modal" (click)="triggerSubmitComment()" class="btn btn-primary">OK</button>
  </div>
</div>
